div {

    border: 2px solid black;
}



/* Small */
@media only screen and (max-width: 500px) {
    body{
        background-color: rgb(255, 73, 73);
    }

    .main {

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
}



/* Medium */
@media only screen and (min-width: 501px) and (max-width: 768px) {
    body{
        background-color: rgb(57, 145, 57);
    }

    #small {
        width: 66%;
    }

    #medium {
        width: 33%;
    }

    #big {

        width: 100%;
    }
    
}

/* Big */
@media only screen and (min-width: 769px) {
    body{
        background-color: rgb(91, 91, 201);
    }



    
    .main {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
